<table class="disclaimer-table">
    <tbody>
        <tr>
            <td class="disclaimer-abn">
                <span>
                    RAC Insurance Pty Limited (ABN 59 094 685 882) issues this product.
                </span>
            </td>
        </tr>
    </tbody>
</table>
