<table class="thankyou-table">
    <tbody>
        <tr>
            <td class="thankyou-main">
                Thank you for choosing RAC Insurance.
            </td>
        </tr>
        <tr>
            <td class="thankyou-detail">
               Please find a summary of your policy below.
            </td>
        </tr>

        <tr>
            <td class="thankyou-detail">
                You will receive your Policy Schedule and <a href="@Model.Summary.PdsUrl" target="_blank">Product Disclosure Statement (PDS)</a>
                in the post in the next few days. Please review these carefully and if you need to make any changes please contact us on <b>13 17 03.</b>
            </td>
        </tr>

        <tr>
            <td class="thankyou-detail">
                If you have not received your documentation within 5 days please contact us on <b>13 17 03.</b>
            </td>
        </tr>
        <tr>
            <td class="thankyou-detail">
                @*This extra row here for spacing.*@
            </td>
        </tr>
    </tbody>    
</table>
