@using Raci.B2C.Web.Mvc.Dependency

@{    
    EditorParameters editorParameters = Html.ViewData.GetEditorParameters();
    editorParameters.Editor = CheckBoxEditor;

    editorParameters.DependencyScriptType = DependencyStartupScriptType.String;
}

@UIControls.SimpleQuestionAnswer(Html, editorParameters)

@helper CheckBoxEditor(EditorParameters editorParameters)
{
    bool currentValue;

    if (Model is bool)
    {
        currentValue = (bool)Model;
    }
    else
    {
        currentValue = ((bool?)Model).GetValueOrDefault();
    }

    Html.ViewData.TemplateInfo.FixCollectionPrefix();

    Dictionary<string, object> parameters = new Dictionary<string, object>();
    <div class="checkbox">
        @Html.CheckBox("", currentValue)
        <span class="cb-checkbox">
            <i class="icon-check" style="display:none"></i>
        </span>
    </div>
}