<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="BikeInsuranceReadonly" providerName="System.Data.SqlClient" connectionString="Server=(local);Database=Raci_BicycleInsurance;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="SendGrid.ApiKey" value="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"/>
    <add key="Raci.Admin.Email.To" value="paul.odonnell@satalyst.com"/>
    <add key="Raci.Admin.Email.From" value="acc_raci_trialproducts@satalyst.com"/>
    <add key="Raci.Admin.Zip.Password" value="cTQjRiwg8U9m2Fb9H0CL"/>
    <add key="Raci.Admin.Email.Subject" value="RAC Bicycle Insurance (LOCAL) - Data Extract as at"/>
    <add key="TimeZone" value="W. Australia Standard Time"/>
  </appSettings>
</configuration>
