@using Raci.B2C.Web.Mvc.Dependency

@{    
    EditorParameters editorParameters = Html.ViewData.GetEditorParameters();
    editorParameters.Editor = DateTime;
    editorParameters.DependencyScriptType = DependencyStartupScriptType.Date;
}

@UIControls.SimpleQuestionAnswer(Html, editorParameters)

@helper DateTime(EditorParameters editorParameters)
{
    string format = !String.IsNullOrEmpty(editorParameters.Format) ? editorParameters.Format : "d MMM yyyy";
    
    DateTime currentValue = Model;
    <div id="@ViewData.TemplateInfo.GetFullHtmlFieldId(Html.StringExpressionFor(x => x))_Answer" class="display-answer">
        @currentValue.ToString(format)
    </div>
}
